@mixin flex($direction, $justify-content: false, $column-gap: false) {
  display: flex;
  flex-direction: $direction;

  @if $direction == row {
    justify-content: true;
    justify-content: $justify-content;
  } @else if $direction == column {
    column-gap: true;
    column-gap: $column-gap;
  }
}

@mixin border($bgcolor) {
  border: outset;
  border-width: thin;
  border-radius: 0.75rem;
  background-color: $bgcolor;
}

/*Whole content*/
html {
  margin-left: auto;
  margin-right: auto;
  font-size: 112.5%;
  font-family: Arial, Helvetica, sans-serif;
}

li,
button {
  cursor: pointer;
}

/*Navigation*/
nav {
  user-select: none;
  margin: 1.5rem;
  @include flex(row);

  svg{
      z-index: 1;
  }

  ul {
    list-style: none;
    margin-top: 0;
    @include flex(row, space-between);
    li{
        margin-left: 2.5rem;
    }
  }

  #main-nav {
    .subnav {
      @include flex(column, 0.5rem);
      @include border(white);
      position: absolute;
      z-index: 1;
    }
  }

  #login-sect {
      margin-left: auto;
      #register {
        @include border(white);
        text-align: center;
        width: 6rem;
        height: 2rem;
        padding-top: .75rem;
        margin-top: -.75rem;
      }
  }

  #mobile-nav {
    display: none;
  }
}

/*Main Content*/
body {
  text-decoration: none;
}

#main-content-flex {
  margin-top: 5rem;
  @include flex(row, space-evenly);
}

#left-content {
  @include flex(column, 0.625rem);
}

h1 {
  font-size: 5rem;
}

#blurb {
  width: 25rem;
}

button {
  width: 12.5rem;
  height: 3.125rem;
  border-radius: 0.75rem;
  background-color: black;
  color: white;
  margin-top: 1.875rem;
  font-weight: bolder;
}

button:hover {
  background-color: white;
  color: black;
}

#businesses {
  @include flex(row, space-evenly);
  margin-top: 2.625rem;
}

#desktopHero {
  width: 30%;
  height: auto;
}

#mobileHero {
  display: none;
}

/*footer*/
.attribution {
  margin-top: 4.375rem;
  @include flex(row, center);
}
