@media only screen and (max-width: 390px) {
    /*Whole Content*/
    html {
      max-width: 390px;
      height: 100%;
    }
  
    /*Navigation*/
    nav {
      display: flex;
      flex-direction: row;
    }
  
    #main-nav {
      display: none;
    }
  
    #mobile-nav {
      display: block;
      margin-left: auto;
      margin-bottom: 10px;
      height: 20px;
    }
  
    #mobile-nav >ul{
      display: none;
      flex-direction: column;
      padding: 0px;
      margin-left: auto;
      position: absolute;
  
      list-style: none;
  
      border: outset;
      border-width: thin;
      border-radius: 12px;
      background-color: white;
  
      width: 50vw;
      height: 100vh;
      z-index: 1;
    }
  
  
    #site-logo {
      display: inline;
      margin: 0px;
    }
  
    #login-sect {
      display: none;
    }
  
  
    /*Main Content*/
    #main-content-flex {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    #mobileHero {
      display: block;
      width: 100%;
      height: 100%;
    }
  
    #left-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    h1 {
      font-size: 35px;
      width: 310px;
    }
  
    #blurb {
      margin-top: 0px;
      width: 350px;
      text-align: center;
      line-height: 1.5em;
    }
  
    button {
      margin-top: 10px;
    }
  
    #businesses {
      margin-top: 50px;
    }
  
    #businesses > svg {
      margin: 2px;
    }
  
    #desktopHero {
      display: none;
    }
  
    /*Footer*/
    .attribution {
      display: none;
    }
  }
  