{{>header}}
{{>navigation}}

<body>

  <div id="left-content">
    <h1>Make remote work</h1>

     <p>Get your team in sync, no matter your location. Streamline processes, 
      create team rituals, and watch productivity soar.</p>

      <p>Learn more</p>
  </div>
  <img src="../images/image-hero-desktop.png" alt="">

</body>
 {{>footer}}
</html>