{{>header}}
<body>

  {{>navigation}}
  <h1>Make remote work</h1>

 <p>Get your team in sync, no matter your location. Streamline processes, 
  create team rituals, and watch productivity soar.</p>

  Learn more
  
 {{>footer}}
</body>
</html>