<div class="attribution">
  <p>by
    <a
      href="https://www.frontendmentor.io?ref=challenge"
      target="_blank"
    > Frontend Mentor</a>.
  </p>
  <p>Coded by <a href="http://wh963069.ispot.cc/">{{name}}</a>.</p>
</div>