/*Whole content*/
html {
  margin-left: auto;
  margin-right: auto;
  font-size: 112.5%;
  font-family: Arial, Helvetica, sans-serif; }

li,
button {
  cursor: pointer; }

/*Navigation*/
nav {
  user-select: none;
  margin: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: true;
  justify-content: false; }
  nav ul {
    list-style: none;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: true;
    justify-content: false; }
    nav ul li {
      margin-left: 1rem;
      margin-right: 1rem; }
  nav #main-nav .subnav {
    display: flex;
    flex-direction: column;
    border: outset;
    border-width: thin;
    border-radius: 0.75rem;
    background-color: white;
    margin-top: 1rem;
    padding: 0.5rem;
    position: absolute;
    z-index: 1; }
    nav #main-nav .subnav li {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem; }
      nav #main-nav .subnav li svg {
        margin-right: 0.5rem; }
  nav #login-sect {
    margin-left: auto; }
    nav #login-sect #register {
      border: outset;
      border-width: thin;
      border-radius: 0.75rem;
      background-color: white;
      text-align: center;
      width: 6rem;
      height: 2rem;
      padding-top: 0.75rem;
      margin-top: -0.75rem; }
  nav #mobile-nav {
    display: none; }

/*Main Content*/
body {
  text-decoration: none; }

#main-content-flex {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: true;
  justify-content: space-evenly; }
  #main-content-flex #left-content {
    display: flex;
    flex-direction: column; }
    #main-content-flex #left-content h1 {
      font-size: 5rem; }
    #main-content-flex #left-content #blurb {
      width: 25rem; }
    #main-content-flex #left-content button {
      width: 12.5rem;
      height: 3.125rem;
      border: outset;
      border-width: thin;
      border-radius: 0.75rem;
      background-color: black;
      color: white;
      margin-top: 3rem;
      font-weight: bolder; }
      #main-content-flex #left-content button:hover {
        background-color: white;
        color: black; }
    #main-content-flex #left-content #businesses {
      display: flex;
      flex-direction: row;
      justify-content: true;
      justify-content: space-evenly;
      margin-top: auto; }
  #main-content-flex #desktopHero {
    height: 75vh; }
  #main-content-flex #mobileHero {
    display: none; }

/*footer*/
.attribution {
  margin-top: 4.375rem;
  display: flex;
  flex-direction: row;
  justify-content: true;
  justify-content: center; }
