/*Whole content*/
html {
  margin-left: auto;
  margin-right: auto;
  font-size: 112.5%;
  font-family: Arial, Helvetica, sans-serif; }

li,
button {
  cursor: pointer; }

/*Navigation*/
nav {
  margin: 1.25rem;
  user-select: none; }

#main-nav {
  list-style: none;
  display: flex;
  flex-direction: row; }

.subnav {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  border: outset;
  border-width: thin;
  border-radius: .75rem;
  background-color: white;
  margin-top: 1.25rem;
  padding: .625rem 1.25rem .625rem .313px; }

li > svg {
  margin-right: 1rem; }

.subnav > li {
  margin: 1.25rem;
  padding-left: -1.25rem; }

li {
  margin-left: 2.5rem; }

#login-sect {
  margin-left: auto;
  display: flex;
  align-items: row; }

#login-sect > li:nth-child(2) {
  border: solid;
  border-style: outset;
  border-radius: .75rem;
  width: 6.25rem;
  height: 1.563rem;
  padding: .5rem 0;
  margin-top: -.625rem;
  text-align: center; }

#mobile-nav {
  display: none; }

/*Main Content*/
body {
  text-decoration: none; }

#main-content-flex {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

#left-content {
  display: flex;
  flex-direction: column;
  column-gap: .625rem; }

h1 {
  font-size: 5rem; }

#blurb {
  width: 25rem; }

button {
  width: 12.5rem;
  height: 3.125rem;
  border-radius: .75rem;
  background-color: black;
  color: white;
  margin-top: 1.875rem;
  font-weight: bolder; }

button:hover {
  background-color: white;
  color: black; }

#businesses {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2.625rem; }

#desktopHero {
  width: 30%;
  height: auto; }

#mobileHero {
  display: none; }

/*footer*/
.attribution {
  margin-top: 4.375rem;
  display: flex;
  flex-direction: row;
  justify-content: center; }
