@media only screen and (max-width: 390px) {
  /*Whole Content*/
  html {
    font-size: 0.9rem; }
  /*Navigation*/
  nav {
    margin-left: 1rem;
    margin-right: 1rem; }
    nav #main-nav {
      display: none; }
    nav #login-sect {
      display: none; }
    nav #mobile-nav {
      display: block;
      margin-left: auto; }
      nav #mobile-nav svg {
        z-index: 0;
        position: relative; }
      nav #mobile-nav #mobileClose {
        display: none;
        z-index: 2;
        font-size: 2rem;
        position: relative; }
      nav #mobile-nav ul {
        border-left: outset;
        z-index: 1;
        display: none;
        flex-direction: column;
        position: absolute;
        padding-left: 0;
        padding-top: 4.25rem;
        right: 0rem;
        bottom: -1rem;
        background-color: white;
        width: 50vw;
        height: 92vh;
        z-index: 1; }
        nav #mobile-nav ul li {
          padding: 1rem; }
        nav #mobile-nav ul .subnav {
          border-left: none;
          padding-top: 0;
          position: relative;
          height: auto; }
  /*Main Content*/
  #main-content-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content; }
    #main-content-flex #mobileHero {
      display: block;
      width: 100%;
      height: 100%; }
    #main-content-flex #left-content {
      display: flex;
      flex-direction: column;
      align-items: center; }
      #main-content-flex #left-content h1 {
        font-size: 2.5rem; }
      #main-content-flex #left-content #blurb {
        text-align: center;
        line-height: 1.5em;
        font-size: 1.25rem;
        width: 80vw; }
      #main-content-flex #left-content button {
        margin-top: 1px; }
      #main-content-flex #left-content #businesses {
        margin-top: 4rem;
        width: 22.5rem; }
        #main-content-flex #left-content #businesses svg {
          transform: scale(0.75);
          margin: 0;
          overflow: visible; }
  #desktopHero {
    display: none; }
  /*Footer*/
  .attribution {
    display: none; } }
