/*Navigation*/
nav{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

nav>svg {
    margin-top: 15px;
}

#main-nav, #login-nav{
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    margin-left: 40px;
}

#login-nav {
    margin-left: auto;
}

/*Main Content*/
body{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

#left-content {
    width: 50%;
    height: 50%;
}

img{
    width: 25%;
    height: 25%;
}

/*footer*/
.attribution {
    margin-top: 25px;
}